doctype html
html(lang="eng")

    include includes/head.pug
    //head.pug dosyasının içerğini ekledik.
    include includes/body.pug
    //body.pug dosyasının içerği eklendi. Ve Sayfa düzeni sağlandı.
block content 